@import "tailwindcss";

/* Font */


:root {
  line-height: 1.5;
  font-weight: 400;
}

@layer base {
  :root {
    

    /* Breakpoint */
    --breakpoint-xs: 200px;
  }
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}


html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3F4F6;
  scroll-behavior: smooth;
}
